<script src="/js/header.js"></script>
<header class="flex justify-between px-10 py-4 font-medium bg-white border-b-2 border-primary border-solid leading-[150%] max-md:flex-wrap max-md:px-5 mb-5">
    <a href="/" class="cursor-pointer flex gap-6 text-2xl text-primary">
        <img src="/assets/curvy-road.png" alt="Curvy Roads logo" class="shrink-0 aspect-[0.91] w-[40px]"/>
        <span class="flex-auto my-auto text-3xl">Curvy Roads</span>
    </a>
    <nav class="max-md:hidden flex gap-8 items-center my-auto text-md text-black max-md:flex-wrap">
        <a href="/all-posts" class="self-stretch my-auto">Posts</a>
        <a href="/create-post" class="self-stretch my-auto">Create Post</a>
        <a href="/admin-console" class="self-stretch my-auto">Admin Console</a>
        <button onclick="<%= loggedIn? 'onLogout()' : 'onLogin()' %>"
           class="justify-center self-stretch px-6 py-3.5 text-base whitespace-nowrap bg-primary rounded-lg shadow-sm max-md:px-5"><%= loggedIn ? 'Logout' : 'Login' %></button>
    </nav>
    <div class="md:hidden flex items-center">
        <button id="menu-btn" class="focus:outline-none" onclick="handleOpenMenu()">
            <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 6H20M4 12H20M4 18H20" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round"></path>
            </svg>
        </button>

        <div id="drawer"
             class="fixed inset-0 z-50 bg-secondary bg-opacity-90 hidden overflow-y-auto px-4 py-8 flex justify-center">
            <button onclick="handleCloseMenu()" id="close-drawer-btn"
                    class="absolute top-4 right-4 focus:outline-none text-white hover:text-gray-200">
                <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 18L18 6M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                </svg>
            </button>
            <nav>
                <ul class="text-white text-2xl space-y-4">
                    <li><a href="/posts" class="hover:text-primary hover:underline underline-offset-4 flex justify-center">Posts
                            </a></li>
                    <li><a href="/create-post" class="hover:text-primary hover:underline underline-offset-4 flex justify-center">Create Post
                            </a></li>
                    <li><a href="/admin-console" class="hover:text-primary hover:underline underline-offset-4 flex justify-center">Admin Console
                            </a></li>
                </ul>
                <div class="mt-6 flex justify-center">
                    <button onclick="<%= loggedIn? 'onLogout()' : 'onLogin()' %>"
                       class=" justify-center self-stretch px-6 py-3.5 text-base whitespace-nowrap bg-primary rounded-lg shadow-sm max-md:px-5"><%= loggedIn ? 'Logout' : 'Login' %></button>
                </div>
            </nav>
        </div>
    </div>
</header>