<head>
    <meta charset="UTF-8">
    <meta name="description" content="Motorcycle Blog">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <link href="./stylesheets/style.css" rel="stylesheet">
    <title>Curvy Roads</title>
</head>