<head>
    <meta charset="UTF-8">
    <meta name="description" content="Motorcycle Blog">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./assets/favicon.png">
    <link href="./stylesheets/style.css" rel="stylesheet">
    <title>Curvy Roads</title>
</head>