<section class="flex flex-col justify-center px-16 pt-4 pb-10 text-3xl text-black bg-white max-w-[500px] max-md:px-5">
    <img src="/assets/curvy-road.png" alt="Company logo" class="self-center aspect-[0.9] w-[60px]"/>
    <h1 class="text-primary self-center mt-4 text-5xl text-center max-md:text-4xl">Sign up</h1>
    <p class="self-center mt-2 text-center text-xl">And get part of the Curvy Roads Community</p>
    <form id="signup-form" class="flex flex-col justify-center" name="signup-form">
        <input type="text" id="username" name="username" placeholder="User-Name" required
               class="text-xl ustify-center items-start px-3 py-3 mt-4 whitespace-nowrap bg-white rounded-xl border border-black border-solid max-md:max-w-full"/>
        <input type="email" id="email" name="email" placeholder="E-Mail" required
               class="text-xl justify-center items-start px-3 py-3 mt-4 whitespace-nowrap bg-white rounded-xl border border-black border-solid  max-md:max-w-full"/>
        <input type="password" id="password" name="password" placeholder="Password" required
               class="text-xl justify-center items-start px-3 py-3 mt-4 whitespace-nowrap bg-white rounded-xl border border-black border-solid max-md:max-w-full"/>
        <input type="password" id="confirm-password" name="confirmpassword" placeholder="Confirm Password" required
               class="text-xl justify-center items-start px-3 py-3 mt-4 bg-white rounded-xl border border-black border-solid max-md:max-w-full"/>
        <div class="flex flex-col gap-3 mt-2.5 text-xl max-md:flex-wrap max-md:max-w-full">
            <p class="flex-auto my-auto text-base ">Already have an account? <a href="/signin" class="underline">Sign
                    in</a>
            </p>
            <button type="submit" class="justify-center px-5 py-3.5 font-medium bg-primary rounded-lg shadow-sm leading-[150%]">
                Sign up
            </button>
        </div>
    </form>
</section>