<article class="flex gap-1.5 items-start">
    <img src="./assets/user-round.svg" alt="User profile picture"
         class="shrink-0 border border-black border-solid aspect-[1] w-[35px] rounded-3xl"/>
    <div class="flex flex-col px-2 mt-1.5">
        <header class="flex gap-3">
            <h3 class=text-sm font-bold text-primary">Max Mustermann</h3>
            <time class="self-center flex-auto text-xs font-medium text-zinc-600">03.04.2024</time>
        </header>
        <p class="mt-2 break-normal text-xs font-medium leading-5 text-black">
            Ein wirklich super tulli mega awesome geiler Artikel, der da geschrieben wurde, einfach unglaublich
        </p>
    </div>
</article>