<script src="/js/alert.js"></script>
<section id="alert" class="hidden flex items-center fixed bottom-0 right-0 py-2 px-5 text-white m-2 rounded-2xl">
    <!-- This element exists only to ensure, that all possible alert colors are loading into tailwind css file -->
    <span class="hidden bg-success bg-danger"></span>
    <span id="alert-title" class="font-bold text-xl">Error</span>
    <span id="alert-divider" class="mx-2">|</span>
    <span id="alert-message">Ein Fehler ist aufgetreten</span>
    <span id="close-alert" class="ml-6 text-3xl hover:cursor-pointer">&times</span>
</section>
