<footer class="self-end mt-auto w-full bg-primary flex gap-3 justify-center p-5">
    <img alt="biker-greet" class="rotate-[140deg] w-[30px]" src="/assets/victory.png" />
    <span class="font-bold text-xl">Ride Safe !</span>
</footer>