<div class="flex flex-col">
    <section class="flex flex-col gap-4">
        <hr class="shrink-0 h-px bg-primary border border-primary border-solid"/>
        <label class="block text-md">
            Title
            <input type="text" placeholder="Title"
                   class="w-full block justify-center items-start p-2 bg-white rounded-xl border border-black border-solid "/>
        </label>
        <label class="block text-md">
            Category
            <input type="text" placeholder="Category"
                   class="w-full block justify-center items-start p-2 bg-white rounded-xl border border-black border-solid "/>
        </label>
        <label class="block text-md">
            Author
            <input type="text" placeholder="Author"
                   class="w-full block justify-center items-start p-2 bg-white rounded-xl border border-black border-solid "/>
        </label>
        <hr class="shrink-0 mt-3 h-px bg-primary border border-primary border-solid"/>
    </section>
    <div class="self-end flex gap-3.5 self-end mt-3 text-sm font-medium leading-5 whitespace-nowrap">
        <button class="justify-center px-6 py-2 rounded-lg border border-primary border-solid shadow-sm bg-primary bg-opacity-0">
            Reset
        </button>
        <button class="justify-center px-6 py-2 bg-primary rounded-lg shadow-sm">
            Filter
        </button>
    </div>
</div>