<nav class="flex gap-0 items-center self-center mt-6 text-base whitespace-nowrap" aria-label="Pagination">
    <a href="#" class="shrink-0 self-stretch my-auto w-6 aspect-square">
        <img src="/assets/chevron-first.svg"
             alt="First page"/>
    </a>
    <a href="#" class="shrink-0 self-stretch my-auto w-6 aspect-square">
        <img src="/assets/chevron-left.svg"
             alt="Previous page"/>
    </a>
    <label for="page-number" class="sr-only" >Page Number</label>
    <input id="page-number" value="2" type="text" class="justify-center items-center self-stretch text-center w-8 h-8 bg-white border border-yellow-400 border-solid rounded-[90px] text-sm" />
    <a href="#" class="shrink-0 self-stretch my-auto w-6 aspect-square">
        <img src="/assets/chevron-right.svg"
             alt="Next page"/>
    </a>
    <a href="#" class="shrink-0 self-stretch my-auto w-6 aspect-square">
        <img src="/assets/chevron-last.svg"
             alt="Last page"/>
    </a>
</nav>
<div class="self-center mt-2.5 text-xs">of 14</div>