<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body>
<%- include('../partials/header') %>
<section class="flex justify-center">
    <%- include('../partials/create-post-component') %>
</section>
</body>
</html>