<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body>
<%- include('../partials/header') %>
<section class="w-full h-full flex justify-center align-middle">
        <div class="p-3 bg-danger text-white">You are not authorized to access this page!!!!</div>
</section>
<%- include('../partials/general/alert-component') %>
</body>
</html>