<!DOCTYPE html>
<html lang="en">
<script src="/js/signIn.js"></script>
<%- include('../partials/head'); %>
<body class="h-screen flex items-center justify-center">
<%- include('../partials/signin-component') %>
</body>
</html>