<section class="p-5 flex flex-col items-start font-medium leading-[150%]">
    <h2 class="text-3xl text-primary ">Manage Users</h2>
    <hr class="self-stretch my-2 w-full bg-black border border-black border-solid min-h-[1px] max-md:max-w-full" />
    <section id="manage-users" class="flex flex-col max-w-full text-base text-black w-[820px] max-md:mt-10">
        <section id="select-user-container" class="flex flex-wrap gap-4">
            <!-- Modified from here https://flowbite.com/docs/forms/select/ -->
            <div class="mt-6">
                <label for="articles" class="mb-1 text-md font-medium text-secondary">Select a User</label>
                <select id="articles"
                        class="bg-white border border-secondary text-secondary text-xl rounded-lg focus:ring-primary focus:border-primary block p-4">
                    <option selected>Choose a User</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <div class="self-end flex gap-2">
                <button class="text-xl justify-center px-6 py-4 whitespace-nowrap bg-primary rounded-lg shadow-sm max-md:px-5">
                    Edit
                </button>
                <button class="text-xl justify-center px-6 py-4 text-white whitespace-nowrap bg-orange-600 rounded-lg shadow-sm max-md:px-5">
                    Delete
                </button>
            </div>
        </section>
        <section class="flex gap-5 justify-between mt-12 text-xl whitespace-nowrap max-md:flex-wrap max-md:mt-10 max-md:max-w-full">
            <label class="block">
                Username
                <input type='text' placeholder="Username" class="block justify-center items-start  p-4 bg-white rounded-xl border border-black border-solid " />
            </label>
            <label class="block">
                E-Mail
                <input type="email" placeholder="E-Mail" class="block justify-center items-start p-4 underline bg-white rounded-xl border border-black border-solid " />
            </label>
            <label class="block">
                Password
                <input type="password" placeholder="Password" class="block justify-center items-start px-4 py-3.5 bg-white rounded-xl border border-black border-solid " />
            </label>
        </section>
        <button class="justify-center self-start px-6 py-3.5 mt-5 whitespace-nowrap bg-primary rounded-lg shadow-sm">
            Update
        </button>
    </section>
</section>